appdirs
asn1crypto
attrs
Automat
backports-abc
backports.shutil-get-terminal-size
certifi
cffi
constantly
cssselect
DateTime
decorator
docutils
enum34
fuzzywuzzy
idna
incremental
ipaddress
ipdb
ipython
ipython-genutils
Jinja2
lockfile
luigi
lxml
MarkupSafe
oauthlib
packaging
parsel
pathlib
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
pyasn1
pyasn1-modules
pycparser
PyDispatcher
Pygments
pymongo
pyOpenSSL
pyparsing
python-daemon<2.2.0
python-dateutil
python-gnupg
python-pcre
pytz
queuelib
redis
requests
requests-oauthlib
scandir
Scrapy==1.5.1
service-identity
simplegeneric
singledispatch
six
sparkpost
tornado==4.0
traitlets
tweepy
Twisted
w3lib
wcwidth
zope.interface
git+https://github.com/politicalwatch/tipi-alerts.git
