<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hay nuevos Tipis para ti</title>
</head>
<body>
    <div style="text-align:center;">
        <a href="http://tipiciudadano.es"><img src="http://tipiciudadano.es/images/tipilogo.png" style="padding:20px;"></a>
    </div>
    {% for n in items %}
        {% for key, value in n.iteritems()%}
            <div class="links" style="margin-bottom:40px;">
                <h2 style="border-bottom:5px solid #FBC239;padding-bottom:10px;font-size:2em;padding-left:10px; color: #222;">{{key}}</h2>
                <ul style="list-style:none;">
                    {% for val in value %}
                        <li style="margin-bottom:10px;"><a href="{{val.url}}" style="color:#222;font-size:1.2em;text-decoration:none;">{{val.titulo}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endfor %}
    <hr>
    <p>
        Puedes ejercer tus derechos de acceso, rectificación, cancelación y oposición al tratamiento de tus datos personales enviando una solicitud a la atención del Delegado de Protección de Datos de la Fundación Salvador Soler:
        <br>
        Dirección Avenida Cardenal Herrera Oria 63, 3º Izq. 28034. Madrid.
        <br>
        Teléfono de contacto: 691 691 810- E-mail de contacto: coordinacion@unmundosalvadorsoler.org
    </p>
    <p>
        En cumplimiento del nuevo Reglamento General de Protección de Datos (RGPD) 2016/679 te informamos que tus datos forman parte de un fichero responsabilidad de la Fundación Salvador Soler con el fin exclusivo de enviarte notificaciones sobre la actividad parlamentaria de tus temáticas de interés.
    </p>
</body>
</html>
