<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hay nuevos Tipis para ti</title>
</head>
<body>
        {% for n in items %}
            {% for key, value in n.iteritems()%}
                <h2>Temática {{key}}</h2>
                <h5>Últimas iniciativas:</h5>
                <ul>
                    {% for val in value %}
                        <li><a href="{{val.url}}">{{val.titulo}} ({{val.fecha}})</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
            <hr>
        {% endfor %}
</body>
</html>
